* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

#map {
	display: block;
	background-color: #fff;
	text-align: center;
	height: 100vh;
}

.location-header {

}

.header-section {
  display: flex;
}

body {
	background-color: #000;
	color: #a2a1a1;
	font-family: Raleway;
}

ul {
	list-style-type: none;
	padding-left: 5px;
}

li { 
	cursor: pointer; 
}

.responsive-container {
  width: 100%;
  max-width: 1280px;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}

.row {
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
}

.col-2 {
  width: 20%;
}

.col-10 {
  width: 80%;
}